In [19]:
import pandas as pd
from math import log

In [20]:
documents = [
    "과일에는 비타민C가 다량 함유되어 있다.", 
    "비타민C를 채우기 위해서는 다양한 방법이 있다. 비타오백을 마시는 방법, 비타민C가 함유된 건강보조식품을 먹는 방법 등.",
    "동남아에 가면 대체로 한국보다 과일을 저렴하게 살 수 있다.",
    "비타민은 여러 종류가 있다.  비타민A, 비타민B, 비타민C, 비타민D...",
    "한라봉은 제주 특산품으로, 많은 사람들이 즐겨 찾는 과일이다."
]

In [21]:
vocab = list(set(w for doc in documents for w in doc.split()))
vocab.sort()

In [22]:
# 총 문서의 수
N = len(documents)

In [23]:
def tf(t, d):
  return d.count(t)

def idf(t):
  df = 0
  for doc in documents:
    df += t in doc
  return log(N/(df+1))

def tfidf(t, d):
  return tf(t, d)*idf(t)

In [24]:
result = []

# 각 문서에 대해 다음 연산을 반복
for i in range(N):
  result.append([])
  d = documents[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tf(t, d))

  tf_ = pd.DataFrame(result, columns = vocab)

In [25]:
tf_

,가면,건강보조식품을,과일에는,과일을,과일이다.,다량,다양한,대체로,동남아에,등.,...,제주,종류가,즐겨,찾는,채우기,"특산품으로,",한국보다,한라봉은,함유되어,함유된
0,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1
2,1,0,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,1,0,1,1,0,1,0,1,0,0

In [26]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index=vocab, columns=["IDF"])

In [27]:
idf_

              IDF
가면       0.916291
건강보조식품을  0.916291
과일에는     0.916291
과일을      0.916291
과일이다.    0.916291
다량       0.916291
다양한      0.916291
대체로      0.916291
동남아에     0.916291
등.       0.916291
마시는      0.916291
많은       0.916291
먹는       0.916291
방법       0.916291
방법,      0.916291
방법이      0.916291
비타민A,    0.916291
비타민B,    0.916291
비타민C,    0.916291
비타민C가    0.510826
비타민C를    0.916291
비타민D...  0.916291
비타민은     0.916291
비타오백을    0.916291
사람들이     0.916291
살        0.916291
수        0.916291
여러       0.916291
위해서는     0.916291
있다.      0.000000
저렴하게     0.916291
제주       0.916291
종류가      0.916291
즐겨       0.916291
찾는       0.916291
채우기      0.916291
특산품으로,   0.916291
한국보다     0.916291
한라봉은     0.916291
함유되어     0.916291
함유된      0.916291

In [28]:
result = []
for i in range(N):
  result.append([])
  d = documents[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)

In [29]:
tfidf_

,가면,건강보조식품을,과일에는,과일을,과일이다.,다량,다양한,대체로,동남아에,등.,...,제주,종류가,즐겨,찾는,채우기,"특산품으로,",한국보다,한라봉은,함유되어,함유된
0,0.000000,0.000000,0.916291,0.000000,0.000000,0.916291,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.916291,0.000000
1,0.000000,0.916291,0.000000,0.000000,0.000000,0.000000,0.916291,0.000000,0.000000,0.916291,...,0.000000,0.000000,0.000000,0.000000,0.916291,0.000000,0.000000,0.000000,0.000000,0.916291
2,0.916291,0.000000,0.000000,0.916291,0.000000,0.000000,0.000000,0.916291,0.916291,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.916291,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.916291,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.916291,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.916291,0.000000,0.916291,0.916291,0.000000,0.916291,0.000000,0.916291,0.000000,0.000000